.container {
    display: flex ;
    gap: 15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: auto;
    border: 2px solid #fff;
}

