.form {
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 16px 16px 32px #c8c8c8;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
}

.text {
    border: none;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 8px;
    height: 50px;
    width: 100%;
    outline: none;
    padding: 10px;
}

.checkbox {
    height: 80px;
    width: 20px;
}

.form button {
    height: 50px;
    width: 50%;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}