.form {
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 16px 16px 32px #c8c8c8;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
}

.text {
    border: none;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 8px;
    height: 50px;
    width: 100%;
    outline: none;
    padding: 10px;
}

.checkbox {
    height: 80px;
    width: 20px;
}

.form button {
    height: 50px;
    width: 50%;
}