.inputBox {
    width: 250px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.inputBox input {
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border-left: 2px solid yellowgreen;
    border-bottom: 2px solid yellowgreen;
}

.inputBox span {
    position: absolute;
    margin-left: 10px;
}