.links {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}

.links:hover {
    transform: scale(1.1, 1.1);
}

.first:hover > .links:not(:hover),
.second:hover > .links:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}


