* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}



